.top-notification
.wrapper
  = render 'groups/shared/left-nav'


.main
  .main__main-head
    .main__main-head__p1="sampleグループ"
    .main__main-head__p2="members: seo neko"
    .main__main-head__right_box
      .main__main-head__right_box__p3="Edit"

.main__main-content
  = render partial: "messages/main", collection: @messages

  .main__main-footer
    .main__main-footer__back
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__main-footer__back__textarea', placeholder: 'type a message'
        .main__main-footer__back__textarea__icon
          = f.label :image, class: 'main__main-footer__back__textarea__icon' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .main__main-footer__back__send_box
          = f.submit 'Send', class: 'main__main-footer__back__send_box__p2'
